{% extends "public/templates/public_template.html" %}

{% block title %}Decay Chain Simulator{% endblock %}

{% block main %}

    <div class="container">
    <div class="row">
        <div class=""col">
        <h1>HalfLife Search</h1>
        <hr>
        <form action="/hlsearch" METHOD="POST">

            <div class="form-group">
            <label>Nuclide 1</label>
            <input class="form-control" type="text" name="nuclide1" required>
        </div>



        <button type="submit" class="btn btn-outline-dark">Decay Nuclides</button>

        </form>



    </div>
    </div>
    </div>




{% endblock %}