{% extends "public/templates/public_template.html" %}

{% block title %}Radionuclide Mix Decay Simulator{% endblock %}

{% block main %}

    <div class="container">
    <div class="row">
        <div class=""col">
        <h1>Input Data {{ error3 }}</h1>
        <hr>
            <p> Enter the time, units and concentration</p>
            <p>
            </p>


        <form action="/input2" METHOD="POST">


        <div class="form-group">
            <label for="time">Time</label>
            <input class="form-control" type="number" step="0.0001" name="time"  required>
        </div>


          <div class="form-group">
    <label for="selectTimeUnits">Time Units</label>
    <select class="form-control" id="selectTimeUnits" name="tunit"  required>
      <option>years</option>
      <option>days</option>
      <option>hours</option>
      <option>minutes</option>
      <option>seconds</option>
    </select>
  </div>


            <div class="form-group">
    <label for="selectActivityUnits">Activity Units</label>
    <select class="form-control" id="selectActivityUnits" name="aunit"  required>
      <option>Bq</option>
      <option>kBq</option>
      <option>MBq</option>
      <option>GBq</option>
        <option>uCi</option>
        <option>mCi</option>
        <option>Ci</option>
    </select>
    </div>
              </p>

            <p>It must be in the format:</p>
            <p><b>"nuclide" *tab* or *space* "activity"</b></p>

            <p><b>{{ error1 }}</b></p>
            <p><b>{{ error2 }}</b></p>
            <p>
          <textarea name="test" id="test" rows="25" STYLE = "COLOR: #ced4da; background-color: #495057; border-color: grey" >
U-235 1
U-238 1</textarea>
                  </p>

        </p>

        <button type="submit" class="btn btn-outline-dark">Decay Nuclides</button>

        </form>



    </div>
    </div>
    </div>




{% endblock %}