{% extends "public/templates/public_template.html" %}

{% block title %}Input{% endblock %}

{% block main %}

    <div class="container">
        <div class="row">
            <div class="" col
            ">
            <h1>Output Data</h1>
            <hr>
            <ul>

                <p>
                <table>
                    <tbody>
                    <tr>
                        <td>Minimum Halflife Displayed (Months):</td>
                        <td><input type="text" id="min" name="min"></td>
                    </tr>
                    </tbody>

                </table>
                <table id="mydatatable" class="table table-borderless mydatatable" style="width: 100%">
                    <p></p>
                    <thead>
                    <TR>
                        <TH scope="col">Nuclide</TH>
                        <TH scope="col">Concentration({{ aunit }})</TH>
                        <TH scope="col">Halflife</TH>
                        <TH scope="col"> Halflife Units*</TH>
                        <TH scope="col"> Halflife(months)</TH>
                    </TR>
                    </thead>
                    <tbody>
                    <TR>
                        {% for name, values in result1.items() %}
                            <TD>{{ name }}</TD>
                            <TD>{{ values[0] }}</TD>
                            <TD>{{ values[2] }}</TD>
                            <TD>{{ values[3] }}</TD>
                            <TD>{{ values[4] }}</TD>
                            </TR>
                        {% endfor %}
                    </tbody>

                </table>
                <p></p>
                * y = years, d = days, h = hours m = minutes, s = seconds
                </p>
            </ul>
        </div>
    </div>
    </div>




{% endblock %}>